@font-face {font-family: 'Herculanum'; src: url(../fonts/herculanum.ttf);}

body {
    background: url("../images/bg.jpg");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    padding: 0 15px;
}

.bodyHeader img {
    width: 350px;
    display: block;
    margin: 0 auto;
}

.bodyHeader h2 {
    font-family: 'Herculanum', sans-serif;
    text-align: center;
    color: #000;
}

h3, h5 {
    font-family: 'Herculanum', sans-serif;
    color: #000;
}

h5 {
    font-size: 20px;
}

.charBox {
    border: solid 3px lightblue;
    text-align: center;
    background: #ffffff;
}

.gameInfo {
    margin: 15px 0;
}

#gameInfo1, #gameInfo2 {
    font-family: 'Herculanum', sans-serif;
    color: #fff;
    font-size: 20px;
}

img {
    width: 150px;
}



